{#
/**
 * @file
 * Environmnet configuration result table.
 */
#}
<h4>{{ 'Modules\'size'|t }}</h4>
<table>
  <thead>
  <tr>
    <th>Module Name</th>
    <th>Size</th>
  </tr>
  </thead>
  <tbody>
    {% for key, config in each_module %}
      <tr>
        <td>{{ key }}</td>
        <td>{{ config }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td><strong>Total Modules Memory Size</strong></td>
      <td><strong>{{ modules_size }}</strong></td>
    </tr>
  </tbody>
</table>
